version: "3.7"
services:
  nginx:
    container_name: nginx
    image: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./output/app:/app"
      - "./output/app/data:/app/data"
    restart: always
    command: ["nginx", "-g", "daemon off;"]
